* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
 html, body {
    height: 100%;
    width: 100%;
    background-color: #7c7878;
}
.App{
  padding: 2rem;
}

.box-container{
  padding-bottom: 10rem;
}

.box{
  width: 10rem;
  height: 10rem;
  background-color: rgb(112, 27, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxItem{
  width: 0.5rem;
  height: 0.5rem;
  background-color: #fff;
  padding: 1rem;
  list-style: none;
  margin: 0.5rem;
}

button{
  color: #fff;
  background-color: rgb(48, 155, 197);
  padding: 1rem;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  width: 8rem;
  cursor: pointer;

}